@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.light {
  background-color: #fff;
  color: black;
}

.dark {
  background-color: rgb(34, 34, 36);
  color: #fff;
}